/.phpunit.cache
/node_modules
/public/build
/bootstrap/cache/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*.php
/storage/framework/testing/*
/storage/logs/*.log
/storage/*.key
/storage/app/site-content-backups/*.json
/vendor

!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/testing/.gitkeep
.DS_Store
.env
.env.backup
.env.production
npm-debug.log
yarn-error.log
